table {
    width: 90%;
    table-layout: fixed;
    border-collapse: collapse;
}
th, td {
    border: 2px solid black;
    text-align: center;
    padding: 10px;
}
td {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
th {
    background-color: grey;
}
tr:nth-child(even) td {
    background-color: #f2f2f2;
}